@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
}

.hide-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}